:root {
  --light-green: #F0F7D4;
  --bright-green: #B2D732;
  --bright-purple: #4424D6;
  --bright-orange: #FC600A;
  --dark-navy: #110934;
}

#root {
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--bright-purple);
}

.header {
  background-color: var(--bright-purple);
  color: var(--bright-green);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}

li {
  list-style: none;
  margin-left: 30px;
  font-size: 20px;
  cursor: pointer;
}

li:hover {
  translate: ease;
}

.main-img {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  border-radius: 15px;
  cursor: pointer;
}

.bottom-text {
  color: var(--light-green);
}