#root {
  max-width: 1280px;
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
  background-color: yellowgreen;
}

.header {
  background-color: skyblue;
  width: 100vw;
}

ul {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}

li {
  list-style: none;
}
